/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
cloud9-php7-upgrade.sh
/app/Policies/.gitkeep
/app/Console/Commands/Inspire.php
/app/Events/Event.php
/app/Http/Controllers/Auth/AuthController.php
/app/Http/Controllers/Auth/PasswordController.php
/app/Http/Middleware/Authenticate.php
/app/Http/Requests/Request.php
/app/Http/routes.php
/app/Jobs/Job.php
/app/Listeners/.gitkeep
/config/compile.php
/database/migrations/.gitkeep
/database/seeds/.gitkeep
gulpfile.js
/resources/views/errors/503.blade.php
/resources/views/vendor/.gitkeep
/tests/ExampleTest.php